body{
    background-image: url('../images/Fondo2.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}
a:hover{
    color:white;
}
#header{
    background-color:#3561a0;
    opacity: 0.9;
     border-bottom:2px rgba(0,0,0,0.3) solid;


}

#content{
    padding: 2%;
    background-color: rgba(255,255,255,0.5);
}

